<!doctype html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KeyDrop - Share Once, Secure Forever</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />


    <link rel="icon" type="image/png" href="/static/logo.png">

    <style>
      .hero {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        align-items: center;
      }

      .hero img {
        width: 100%;
        border-radius: 12px;
        display: none;
      }

      @media (min-width: 1024px) {
        .hero {
          grid-template-columns: 1fr 1fr;
        }
        .hero img {
          display: block; /* 👈 show on tablet/desktop */
        }
      }


    </style>
  </head>
  <body>
    {{> partials/navbar}}

    <div class="content-wrapper">{{> @partial-block }}</div>

    {{> partials/footer}}
  </body>

  <script src="/static/scripts.js"></script>
</html>
